<a href="https://colab.research.google.com/github/vivek6311/Artificial-Intelligence-with-Python/blob/master/NeenOpal_Vivek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
excel_file = 'Records Matching Task.xlsx'
# Read each sheet into a dictionary of dataframes
excel_data = pd.read_excel(excel_file, sheet_name=None)
for sheet_name, sheet_data in excel_data.items():
    print("Sheet Name:", sheet_name)
    print(sheet_data.head()) 
    print("------------------------------------")

Sheet Name: data1
         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100090  FUR-TA-10003715    3
2  CA-2014-100090  OFF-BI-10001597    6
3  CA-2014-100293  OFF-PA-10000176    6
4  CA-2014-100328  OFF-BI-10000343    1
------------------------------------
Sheet Name: data2
         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6
2  CA-2014-100293  OFF-PA-10000176    6
3  CA-2014-100328  OFF-BI-10000343    1
4  CA-2014-100363  OFF-FA-10000611    2
------------------------------------

# How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)

In [5]:
data1 = pd.read_excel(excel_file, sheet_name='data1')
data2 = pd.read_excel(excel_file, sheet_name='data2')

In [8]:
merged_data = pd.merge(data1, data2, on=['Order ID', 'Product ID'], how='left', indicator=True)

In [12]:
missing_records = merged_data[merged_data['_merge'] == 'left_only']
num_missing_records = len(missing_records)
print(missing_records)

            Order ID       Product ID  Qty_x  Qty_y     _merge
0     CA-2014-100006  TEC-PH-10002075      3    NaN  left_only
10    CA-2014-100678  OFF-EN-10000056      3    NaN  left_only
19    CA-2014-100895  OFF-AR-10004511      2    NaN  left_only
35    CA-2014-101560  OFF-BI-10000309      3    NaN  left_only
61    CA-2014-102673  OFF-LA-10001771     12    NaN  left_only
...              ...              ...    ...    ...        ...
9390  US-2017-160836  OFF-AP-10001626      2    NaN  left_only
9403  US-2017-162558  FUR-FU-10002364      2    NaN  left_only
9420  US-2017-163657  OFF-BI-10000138      5    NaN  left_only
9427  US-2017-164056  FUR-TA-10001307      5    NaN  left_only
9435  US-2017-165456  FUR-CH-10003981      6    NaN  left_only

[507 rows x 5 columns]

In [11]:
print(num_missing_records)

507

# How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)

In [15]:
merged_data2 = pd.merge(data1, data2, on=['Order ID', 'Product ID'], how='right', indicator=True)

In [16]:
missing_records2 = merged_data2[merged_data2['_merge'] == 'right_only']
num_missing_records2 = len(missing_records)
print(num_missing_records2)

507

In [17]:
print(missing_records2)

            Order ID       Product ID  Qty_x  Qty_y      _merge
11    CA-2014-100706  TEC-AC-10001314    NaN      2  right_only
14    CA-2014-100762  OFF-PA-10001815    NaN      3  right_only
30    CA-2014-101427  OFF-AR-10002257    NaN      3  right_only
56    CA-2014-102652  FUR-FU-10001918    NaN      7  right_only
63    CA-2014-102869  OFF-PA-10000788    NaN      3  right_only
...              ...              ...    ...    ...         ...
9428  US-2017-165344  OFF-BI-10003196    NaN     10  right_only
9433  US-2017-165358  TEC-CO-10001943    NaN      5  right_only
9455  US-2017-167920  OFF-AP-10000159    NaN      5  right_only
9471  US-2017-169502  OFF-AP-10001947    NaN      5  right_only
9473  US-2017-169551  FUR-BO-10001519    NaN      3  right_only

[508 rows x 5 columns]

# Find the Sum of the total Qty of Records missing in data1 but present in data2

In [18]:
missing_records3 = merged_data2[merged_data2.isnull().any(axis=1)]

In [23]:
sum_missing_qty = missing_records3['Qty_y'].sum()
print(sum_missing_qty)

1956

# Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [24]:
combined_data = pd.concat([data1, data2])
num_unique_records = combined_data.groupby(['Order ID', 'Product ID']).size().shape[0]
print(num_unique_records)

9986

# **TASK-2**

In [26]:
bike_data= pd.read_csv("used_bikes.csv")
bike_data.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [29]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 9.4+ KB

In [38]:
memory_before = bike_data.memory_usage().sum() / (1024 ** 2)  
# new data types for each column
new_data_types = {
    'bike_name': 'str',
    'city': 'str',
    'owner': 'str',
    'brand': 'str',
}

for column, new_data_type in new_data_types.items():
    bike_data[column] = bike_data[column].astype(new_data_type)

memory_after = bike_data.memory_usage().sum() / (1024 ** 2)  

print("Memory usage before: {:.2f} MB".format(memory_before))
print("Memory usage after: {:.2f} MB".format(memory_after))

Memory usage before: 0.01 MB
Memory usage after: 0.01 MB

In [43]:
import pandas as pd
import sqlite3
!ls

'Records Matching Task.xlsx'   sample_data   used_bikes.csv

In [44]:
connection = sqlite3.connect('assignment.db')
cursor = connection.cursor()

In [59]:
pip install mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.1/88.1 kB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp310-cp310-linux_x86_64.whl size=108352 sha256=6bc3ae389882d35ef2e5b62fa95b33f0cf4813ac7769eb8a8a0a2f1bc6a6401d
  Stored in directory: /root/.cache/pip/wheels/7d/34/ba/a769c165b01646816afdf9bf792e847ef149693fee432b6b65
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

I am getting some problem here as i am not able to connect to SQL server.

In [1]:
from sqlalchemy import create_engine
# Configure the MySQL connection
database_host = 'localhost'
database_name = 'root'
database_user = 'mydb'
database_password = 'vivek@6311'

# Create the SQLAlchemy engine
engine = create_engine(f'mysql+pymysql://{database_user}:{database_password}@{database_host}/{database_name}')

# Dump the data into the MySQL database
bike_data.to_sql('table_name', con=engine, if_exists='replace', index=False)

# Close the database connection
engine.dispose()