<a href="https://colab.research.google.com/github/vivek6311/Artificial-Intelligence-with-Python/blob/master/Zovian_Exercise_Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f66e26cf490>)

In [3]:
countries_df = pd.read_csv('countries.csv')

In [4]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

# Q1: How many countries does the dataframe contain?

In [5]:
countries_df.shape

(210, 6)

## There are total of 211 countries in this data frame.

# Q2: Retrieve a list of continents from the dataframe?

In [6]:
continents= countries_df['continent']

In [7]:
continents.unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

# Q3: What is the total population of all the countries listed in this dataset?

In [ ]:
total_pop= countries_df['population'].sum()

In [ ]:
total_pop

7757980095.0

# Q: (Optional) What is the overall life expectancy across in the world?

In [ ]:
world_life_exp= ((countries_df.population* countries_df.life_expectancy)/total_pop).sum()

In [ ]:
world_life_exp

72.72165193409664

## Q4: Create a dataframe containing 10 countries with the highest population.

In [ ]:
top_pop= countries_df.sort_values('population', ascending=False).head(10)

In [ ]:
top_pop

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
41,China,Asia,1.439324e+09,76.91,4.34,15308.712
90,India,Asia,1.380004e+09,69.66,0.53,6426.674
199,United States,North America,3.310026e+08,78.86,2.77,54225.446
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469

## Q5: Add a new column in countries_df to record the overall GDP per country (product of population & per capita GDP).

In [ ]:
countries_df['country_gdp']= countries_df.population * countries_df.gdp_per_capita

In [ ]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,country_gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [ ]:
top_gdp= countries_df.sort_values('country_gdp', ascending=False).head(10)

In [ ]:
top_gdp

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,country_gdp
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,2.203419e+13
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,1.794877e+13
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12
99,Japan,Asia,1.264765e+08,84.63,13.05,39002.223,4.932863e+12
73,Germany,Europe,8.378394e+07,81.33,8.00,45229.245,3.789485e+12
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,3.614206e+12
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,3.060386e+12
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,2.997821e+12
198,United Kingdom,Europe,6.788600e+07,81.32,2.54,39753.244,2.698689e+12
68,France,Europe,6.527351e+07,82.66,5.98,38605.671,2.519928e+12

## Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.

In [ ]:
pop_million = countries_df[countries_df.population > 100000000]

In [ ]:
pop_million

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,country_gdp
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984,5.803628e+11
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,2.997821e+12
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,2.203419e+13
58,Egypt,Africa,1.023344e+08,71.99,1.60,10550.206,1.079649e+12
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,1.988786e+11
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,3.060386e+12
99,Japan,Asia,1.264765e+08,84.63,13.05,39002.223,4.932863e+12
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469,2.235239e+12
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454,1.100467e+12
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.112128e+12
151,Philippines,Asia,1.095811e+08,71.23,1.00,7599.188,8.327273e+11
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,3.614206e+12
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,1.794877e+13

In [ ]:
low_gdp= pop_million.sort_values('country_gdp', ascending=True).head(10)

In [ ]:
low_gdp

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,country_gdp
63,Ethiopia,Africa,114963583.0,66.60,0.30,1729.927,1.988786e+11
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984,5.803628e+11
151,Philippines,Asia,109581085.0,71.23,1.00,7599.188,8.327273e+11
58,Egypt,Africa,102334403.0,71.99,1.60,10550.206,1.079649e+12
141,Nigeria,Africa,206139587.0,54.69,NaN,5338.454,1.100467e+12
145,Pakistan,Asia,220892331.0,67.27,0.60,5034.708,1.112128e+12
125,Mexico,North America,128932753.0,75.05,1.38,17336.469,2.235239e+12
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12
91,Indonesia,Asia,273523621.0,71.72,1.04,11188.744,3.060386e+12
157,Russia,Europe,145934460.0,72.58,8.05,24765.954,3.614206e+12

## Q6: Create a data frame that counts the number countries in each continent?

In [ ]:
country_counts_df = countries_df.groupby(["continent"]).size().to_frame().rename(columns={"continent":"continent",0:"count"})

In [ ]:
country_counts_df

               count
continent
Africa            55
Asia              47
Europe            51
North America     36
Oceania            8
South America     13

## Q7: Create a data frame showing the total population of each continent.

In [ ]:
continent_populations_df = countries_df.groupby(["continent"]).sum().reset_index()[["continent","population"]]

In [ ]:
continent_populations_df

       continent    population
0         Africa  1.339424e+09
1           Asia  4.607388e+09
2         Europe  7.485062e+08
3  North America  5.912425e+08
4        Oceania  4.095832e+07
5  South America  4.304611e+08

In [ ]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7fc9ec2bafd0>)

In [ ]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [ ]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

## Q8: Count the number of countries for which the total_tests data is missing.

In [ ]:
covid_data_df[covid_data_df.total_tests.isna()].count()

location        122
total_cases     122
total_deaths    122
total_tests       0
dtype: int64

## Q9: Merge countries_df with covid_data_df on the location column.

In [ ]:
merged_df = countries_df.merge(covid_data_df, on="location")

In [ ]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,country_gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

## Q10: Add columns tests_per_million, cases_per_million and deaths_per_million into combined_df.

In [ ]:
tests_per_million=